VITE_GLOB_API_URL=https://learning.banzait.com/back

VITE_GLOB_API_AUTH_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJQb3J0YWwvdXNlcm5hbWUiOiJWaXRhbGlpTWluY2h1ayIsIlBvcnRhbC91c2VyaWQiOiIzM2Q1NTc5Yy01MDQ1LTQ3NjItODg5Yy05YTQ2YzA2YjdiMDciLCJqdGkiOiJhOTZhYjgzOS1mMzYwLTRmZjktOTQwZC1iNTFjZTUwYzdhMWQiLCJQb3J0YWwvdG9rZW52ZXJzaW9uIjoiMSIsIlBvcnRhbC9jb250YWN0aWQiOiJjNDY2M2I1Yy05NGQyLTRjZWMtOTNlYS1kNWUyMGFiM2MwZjIiLCJQb3J0YWwvbW9kaWZpZWRvbiI6IjYzODU1NjA3MDkzNjI3MTMyNCIsImV4cCI6MTcyMDg3NDI5MywiaXNzIjoiTGVhcm5pbmciLCJhdWQiOiJMZWFybmluZyBjbGllbnQifQ.UJhWLTy6-pcsgBHiBWxah7UV0CzwXFigZZpV6dchkkA
